body{
    background: white;
    /* linear-gradient(
        to top,
        #faf8ed 0%,
        #faf8ed 100%
        /* #8bdfe2 100% */
    /* ); */
 }

.grid-index{
    display: grid;
    grid-template-rows: auto auto auto;
    /* border: solid black 4px; */
    padding: 20px;
    width: 40%;
    margin: 12% auto;
    justify-content: center;
}
.grid-login{
    display: grid;
    grid-template-rows: auto auto auto;
    /* border: solid black 4px; */
    padding: 20px;
    width: 30%;
    margin: 10% auto;
    justify-content: center;
}

.grid-home{
    display: grid;
    grid-template-columns: auto auto;
    /* border: solid black 4px; */
    width: 100% !important;
    height: 100%;
}

.grid-verPaciente{
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 2rem;
    padding: 0 1rem ;
}

.grid-registroPaciente{
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 2rem;
    padding: 0 1rem ;
}
.caja{
    /* border: solid red 4px; */
    text-align: center;
}
.icon-navbar{
    height: 50px;
    width: 50px;
    margin: 25px;
}

/* -----------------Elementos del login------------------- */
#btn-iniciar-sesion-submit, #btn-iniciar-sesion{
    height: 3rem;
    margin-left: 25%;
}
#username, #password{
    height: 3rem;
    margin-left: 7%;
}
#formulario-login{
    display: grid;
    align-items: center;
}


/*------------------ Elementos de HOME----------------------*/
.navbar{
    display: grid;
    justify-content: space-between;
    grid-template-columns: 30% 5% 30%;
    margin: 0 2%;
    grid-column: 1/3;
    font-size: 20px;
    background-color: #5dc1b9;
    /* background-color: #0da5f19b; */
    color: #fff;
}

/* .navbar{
    display: grid;
    justify-content: space-between;
    grid-template-columns: auto auto;
    margin: 0 2%;
    grid-column: 1/3;
    font-size: 20px;
} */
.saludo{
    font-weight: bold;
}
.titulo-home{
    margin-top: 30px;
    grid-column: 1/3;
}
.barraBusqueda-home{
    display: grid;
    grid-template-columns: 90% auto;
    grid-column: 1/3;
    padding: 0 30%;
}
.agregarRegistro-home{
    display: grid;
    justify-content: flex-start;
    grid-column: 1/3;
    margin: 30px 20%;
    font-size: 20px;
}
.tablaRegistros-home{
    grid-column: 1/3;
    margin: 0 20%;
}

/* Elementos de HOME - Tabla de registros */
.icon{
    height: 35px;
}
.acciones{
    display: flex;
    justify-content: space-between;
}
/* ------------------------------Elementos de VERPACIENTE---------------------------------------- */
.titulo-verPaciente{
    margin-top: 30px;
    grid-column: 1/3;
}

.instrucciones-verPaciente{
    display: grid;
    justify-content: center;
    margin: 0 25%;
    font-size: 20px;
    grid-column: 1/3;
}
.tituloCaja-datosPaciente{
    grid-column: 1/3;
}
.datosPaciente-verPaciente{
    display: grid;
    width: fit-content;
    height: 500px;
    text-align: left;
    grid-template-columns: auto auto;
    border: 1px solid black;
    border-radius: 25px;
    margin: 20px 0 0 10%;
    row-gap: 10px;
    column-gap: 20px;
    justify-content: space-between;
    padding: 5% 25%;
    /* background-color: antiquewhite; */
}
.datosTutor-verPaciente{
    display: grid;
    width: fit-content;
    height: 500px;
    text-align: left;
    grid-template-columns: auto auto;
    margin: 20px 10% 0 0;
    border: 1px solid black;
    border-radius: 25px;
    row-gap: 10px;
    column-gap: 20px;
    justify-content: space-between;
    padding: 5% 25%;
    /* background-color: antiquewhite; */
}
.iconoEditar-verPaciente{
    margin: 10% 12% 0 0;
    /* margin-top: 20%; */
    /* display: grid;
    grid-template-rows: auto auto;
    justify-content: end;
    grid-column: 1/3; */
}

/* ELEMENTOS verPrueba */
.prueba-verPrueba{
    display: grid;
    /* border: solid black 1px; */
    grid-template-columns: auto;
}
.datosPrueba-verPrueba{
    display: grid;
    /* border: solid yellow 1px; */
    grid-template-columns: auto auto auto;
    padding: 2% 20%;
}
[class*="-verPrueba caja"]{
    /* border: 1px solid red; */
    padding: 2% 10%;
    text-align: justify;
}
.escalaPrueba-verPrueba{
    display: grid;
    /* margin: 0 5%; */
    grid-template-columns: auto auto auto;
    /* border: 1px solid black; */
    border-radius: 25px;
    padding: 0% 25% 0% 25%;
}
.observacionesPrueba-verPrueba{
    display: grid;
    grid-template: auto auto;
    /* border: 1px blue solid; */
    text-align: left;
    padding: 0 2%;
}
.tarjeta{
    display: grid;
    justify-content:left;
    grid-template-columns: auto auto; 
    column-gap: 0px;
}

/* ELEMENTOS de agregarPrueba */
.agregarImagenes-agregarPrueba{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    justify-content:center;
    margin-top: 3%;
    column-gap: 20px;
    margin-top: 3%;
    padding: 0 15%;
    
}

/* ELEMENTOS de evaluarPrueba */
.titulos-evaluarPrueba{
    display: grid;
    grid-template-columns: 70% 30%;
    margin-top: 3rem;
    margin-bottom: 2rem;
    padding: 0 15%;
    text-align: center;
    /* border: 1px solid; */
}
.evaluacion-evaluarPrueba{
    display: grid;
    grid-template-columns: 70% 30%;
    /* justify-content:space-evenly; */
    padding: 0 20%;
    /* margin-top: 10px; */
}
.imagenesPrueba-evaluarPrueba{
    /* border: 1px blue solid; */
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 20px;
    /* padding: 0% 10%; */
    /* border: 1px black solid; */
}
.aspectosEvaluar-evaluarPrueba{
    /* border: 1px red solid; */
    display: grid;
    width: 100%;
    grid-template-columns: auto auto;
    column-gap: 3%;
    justify-content: start;
    /* margin-left: 20%; */
}
.imgPrueba, .imgOriginal{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 400px;
}

.imgPrueba{
    overflow: hidden;
    position: relative;
}




.prefooter-evaluarPrueba{
    display: grid;
    grid-template-columns: 35% 35% auto;
    padding: 0 20%; 
    /* margin-top: 2%; */
    /* border: 1px solid; */
}
.manual-evaluarPrueba{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    column-gap: 10px;
}
.sub{
    display: grid;
    grid-template-columns: auto auto;
    grid-column: 1/3;
    text-align: center;
    /* border: red 1px solid; */
}
.img-figura{
    transition: transform .2s;
    /* width: 300px;
    height: 300px; */
    width: 80%;
}
.zoom:hover{
    transform: scale(1.2);
}
.box-calificadores{
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 10px;
    padding: 40%;
    margin-left: 25%;
    /* border: 1px solid black; */
}


  .form-element {
    position: relative;
    width:100px;
    height:100px;
  }
.form-element input{
    display: none;
}

.form-element label{
    display: flex;
    width: 100%;
    flex-direction:column;
    justify-content: center;
    height: 100%;
    cursor: pointer;
    border: 2px solid #fff;
    background-color: #fff;
    box-shadow: 0px 5px 20px 2px rgba(0,0,0,0.1);
    text-align: center;
    font-family: "Roboto", sans-serif;
}


.form-element .titulo{
    font-size: 15px;
    color: #555;
    padding: 5px 0px;
    transition: all 200ms ease-in-out;
}

.form-element label:before{
    content:"✓";
    position:absolute;
    width:18px;
    height:18px;
    top:8px;
    left:8px;
    background: #5dc1b9;
    /* background:#0da5f19b; */
    color:#fff;
    text-align:center;
    line-height:18px;
    font-size:14px;
    font-weight:600;
    border-radius:50%;
    opacity:0;
    transform:scale(0.5);
    transition:all 200ms ease-in-out;
  }
  .form-element input:checked + label:before {
    opacity:1;
    transform:scale(1);
  }
  .form-element input:checked + label .icon {
    color:#5dc1b9;
  }
  .form-element input:checked + label .title {
    color:#5dc1b9;
  }
  .form-element input:checked + label {
    border:2px solid #5dc1b9;
  }

  

/* Iconos en pantallas */
.iconosFooter{
    display: grid;
    grid-template-columns: auto auto;
    margin-top: 2%;
    margin-right: 6%;
    grid-column: 1/3;
    justify-content: end;
}
[class^=img]>input{
    display: none;
  }
/* .img-figura{
    width: 30%;
} */
.flechaAtras, .flechaSiguiente{
    margin: 10% 12% 0 0;
}
.iconoGuardar{
    margin: 10% 12% 0 0;
}

#muestra{
    width: 500px;
    height: 500px;
}

#outputMuestra{
    width: 200px;
    height: 200px;
    border: solid red;
}

.preview{
    overflow: hidden;
    width: 200px; 
    height: 200px;
}


.escalaValor-input{
    appearance: none;
    cursor: pointer;
    background-color: #fff;
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
    width: 30px;
    height: 30px;
    border: 2px solid #888;
    justify-self: end;
    margin-right: 5px;
}

.escalaValor-input:checked {
    border-color: #5dc1b9;
    background-color: #5dc1b9;
  }

  .escalaValor-input:hover {
    background-color: #5dc1b9;
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
    border-color: #5dc1b9;
  }

  #iconosFooterFinal{
    display: grid;
    grid-template-columns: auto auto auto;
  }


  .oculto{
    display: none;
  }

  .escalaPrueba-pdf{
    display: grid;
    /* margin: 0 5%; */
    grid-template-columns: auto auto auto;
    column-gap: 1vh;
    /* border: 1px solid black; */
    border-radius: 25px;
    padding: 0% 5% 0% 5%;
}

#pdf label, #pdf p{
    font-size: 10px;
}


#pdf{
    width: 612px;
    height: 792px;
    margin-left: 15%;
}


.vpImg{
    width: 50%;
}

#mostrarFigurasPrueba{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#verPrueba{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}


#verPrueba-escala{
    display: grid;
    /* margin: 0 5%; */
    grid-template-columns: auto auto auto;
    border: 1px solid black;
    border-radius: 25px;
    padding: 2% 10% 2% 10%;
}

.vpFig{
    display: grid;
    justify-content:left;
    grid-template-columns: auto auto; 
    column-gap: 0px;
}